
-- Drop existing table if exists
DROP TABLE IF EXISTS public.info_items;

-- Create new info_items table
CREATE TABLE public.info_items (
    id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
    title text NOT NULL,
    description text,
    content text,
    image_public_id text,
    category text,
    published boolean DEFAULT true,
    created_at timestamptz DEFAULT NOW(),
    updated_at timestamptz DEFAULT NOW()
);

-- Enable RLS
ALTER TABLE public.info_items ENABLE ROW LEVEL SECURITY;

-- Create policies
CREATE POLICY "Public can view published info_items" 
    ON public.info_items 
    FOR SELECT 
    USING (published = true);

CREATE POLICY "Authenticated users can manage info_items" 
    ON public.info_items 
    FOR ALL 
    USING (auth.role() = 'authenticated');

-- Create indices
CREATE INDEX idx_info_items_created_at ON public.info_items(created_at DESC);
CREATE INDEX idx_info_items_category ON public.info_items(category);

